<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <title>Bingo Card MNIST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }




    </style>
    <script type='text/javascript' async="True">

 $(document).on(
   'click',
   '#cmap',
   function() {
   $.ajax("/get_card_only",{
   data: JSON.stringify({
     "cmap": $(this).val(),
     "numbers": $("#h_numbers").val(),
     "clear": $("#h_clear").val(),
     "idxs": $("#h_idxs").val(),
   }),
   contentType:'application/json',
   type:'POST',
   success:function(response){
       $('#card').html(response);
      }
   });
  });

 $(document).on(
 'click',
 'img#x',
 function() {
   $.ajax("/get_card_only",{
   data: JSON.stringify({
     "cmap": $("#h_cmap").val(),
     "numbers": $("#h_numbers").val(),
     "clear": $("#h_clear").val(),
     "idxs": $("#h_idxs").val(),
     "invert_number": $(this).attr("alt"),
   }
   ),
   contentType:'application/json',
   type:'POST',
   success:function(response){
       $('#card').html(response);
      }

   });
});

 $(document).on(
 'click',
 'button#clear',
 function() {
   $.ajax("/get_card_only",{
   data: JSON.stringify({
     "cmap": $("#h_cmap").val(),
     "numbers": $("#h_numbers").val(),
     "clear": $("#h_clear").val(),
     "idxs": $("#h_idxs").val(),
     "invert_number": $(this).attr("alt"),
     "clear":"1",
   }
   ),
   contentType:'application/json',
   type:'POST',
   success:function(response){
       $('#card').html(response);
      }

   });
});

 $(document).on(
 'click',
 'button#play',
 function() {
   $('#colors').html('');
});
    </script>

</head>
<body>
<center>

    <div id="card" class="container">
        <input type="hidden" id="h_cmap" value="{{ cmap }}">
        <input type="hidden" id="h_numbers" value="{{ numbers }}">
        <input type="hidden" id="h_clear" value="{{ clear }}">
        <input type="hidden" id="h_idxs" value="{{ idxs }}">
        <table>
            <tr>
                <td>
                    <img src="./get_img/b.png" height="42" width="42">
                </td>
                <td>
                    <img src="./get_img/i.png" height="42" width="42">
                </td>
                <td>
                    <img src="./get_img/n.png" height="42" width="42">
                </td>
                <td>
                    <img src="./get_img/g.png" height="42" width="42">
                </td>
                <td>
                    <img src="./get_img/o.png" height="42" width="42">
                </td>
            </tr>
            {% for c in numbers %}
            <tr>
                {% for r in c %}
                <td>
                    <img id="x" src="./get_image?val={{ r[0] }}&invert={{ r[1] }}&cmap={{ cmap }}&idxs={{ idxs }}"
                         height="42" width="42" alt="{{ r[0] }}">
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="colors">

    <p>Please select your Color:</p>
    {% for c in colors %}

    {% if c == cmap %}
    <input type="radio" id="cmap" name="cmap" value="{{ c }}" checked="1">
    <label for="{{ c }}">{{ c }}</label><br>
    {% else %}
    <input type="radio" id="cmap" name="cmap" value="{{ c }}">
    <label for="{{ c }}">{{ c }}</label><br>
    {% endif %}
    {% endfor %}
    </div>


    <br>
    <button id="clear">Clear</button>
    <button id="play">Play</button>
    <form action="/get_card">
        <input type="hidden" id="cmap" name="cmap" value="{{ cmap }}">
        <input type="submit" value="New Card">
    </form>
</center>
</body>
</html>
